.hero {
  padding-bottom: 112px;
  @media (max-width: $mobile) {
    padding-bottom: 60px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    @media (max-width: 1120px) {
      gap: 20px;
    }
    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -.5px;
    @media (max-width: $tablet) {
      font-size: 42px;
    }
    @media (max-width: $mobile) {
      font-size: 34px;
      margin-bottom: 10px;
    }
  }

  &__description {
    color: #4D585F;
    letter-spacing: .1px;
    margin-bottom: 36px;
    @media (max-width: $mobile) {
      margin-bottom: 18px;
    }
  }

  &__how-works {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
    padding-right: 16px;
    height: 40px;
    border: 1px solid #D6DEEB;
    border-radius: 50px;
    width: max-content;
    transition: background-color .5s ease;
    font-weight: 500;
    text-decoration: none;
    color: $black;
    @media (max-width: $mobile) {
      margin: 0 auto;
    }
    &:hover {
      background-color: #D6DEEB;
    }
  }

  &__info,
  &__exchange {
    width: calc(50% - 25px);
    @media (max-width: 1120px) {
      width: calc(50% - 10px);
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__exchange {
    background: #fff;
    padding: 28px;
    border: 1px solid #DEE5ED;
    border-radius: 24px;
    @media (max-width: $tablet) {
      padding: 28px 20px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 18px;
    }
  }

  &__give,
  &__receive {
    border: 1px solid #D6DEEB;
    padding: 16px;
    border-radius: 16px;
  }

  &__give {
    margin-bottom: 12px;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 500;
    color: #4D585F;
    p {
      margin: 0;
      color: #8B9297;
      span {
        color: $black;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    input {
      flex: 1;
      height: 44px;
      outline: none;
      font-size: 36px;
      color: $black;
      font-family: 'Roboto', sans-serif;
      border: 0;
      width: 60%;
      @include placeholder {
        color: $black;
        font-family: 'Roboto', sans-serif;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    height: 44px;
    gap: 10px;
    padding: 6px 8px 6px 6px;
    background: #F6F8FA;
    border-radius: 50px;
    border: 0;
    transition: background .5s ease;
    cursor: pointer;
    &:hover {
      background: #D6DEEB;
    }
    img,svg {
      display: flex;
      width: 32px;
      height: 32px;
      min-width: 32px;
      object-fit: contain;
    }
    p {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      span {
        display: block;
        margin-top: 4px;
        font-size: 12px;
        font-weight: 500;
        color: #6B6B6B;
      }
    }
    &--arrow {
      width: 16px !important;
      height: 16px !important;
      min-width: 16px !important;
      object-fit: contain;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__swap {
    width: 48px;
    height: 48px;
    background: #fff;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -24px;

    button {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
      border: 0;
      transition: transform .5s ease;
      display: flex;
      background: transparent;
      &:hover {
        transform: rotate(-180deg);
      }
    }

  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 600;
    span {
      gap: 4px;
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      height: 28px;
      padding-left: 8px;
      padding-right: 10px;
      border-radius: 50px;
      background: rgba(#3372E8,.1);
    }
  }

  &__quote {
    font-size: 14px;
    padding: 16px;
    background: #F6F8FA;
    border-radius: 16px;
    margin-top: 12px;
    margin-bottom: 10px;
    strong, b {
      font-weight: 600;
    }
  }

  &__accept {
    margin-bottom: 16px;
    label {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      color: #0C0C0C;
      font-size: 14px;
      font-weight: 500;
      input[type="checkbox"] {
        display: none;
        + span {
          width: 24px;
          height: 24px;
          min-width: 24px;
          border: 1px solid #D6DEEB;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            width: 16px;
            height: 16px;
            color: #fff;
            transition: color .5s ease;
          }
        }
        &:checked + span svg {
          color: $blue-dark;
        }
      }
      p {
        margin: 0;
      }
      a {
        color: #0C0C0C;
        font-weight: bold;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}